/************************
Wortal template CSS settings
*************************
If you force the game into portrait/landscape then you should set a background image in the canvas to fill
in the blank spaces in the desktop view of the game. The default is to stretch the game to fill the iframe the
game is rendered in.
************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

canvas {
  display: block;
}

body {
  margin: 0;
}

#unity-container {
  width: 100%;
  height: 100%;
}

#unity-canvas {
  width: 100%;
  height: 100%;
  background: #000;
}

/************************
Feel free to modify this to suit your game's needs.
Will not be shown during Link and Viber deployments as they require the game to use their loading screen.
************************/
.progress {
  height: 18px;
  width: 141px;
  margin-top: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.progress .empty {
  background: url('../images/progressEmpty.Light.png') no-repeat right / cover;
  float: right;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.progress .full {
  background: url('../images/progressFull.Light.png') no-repeat left / cover;
  float: left;
  width: 0;
  height: 100%;
  display: inline-block;
}

.progress.Dark .empty {
  background-image: url('../images/progressEmpty.Dark.png');
}

.progress.Dark .full {
  background-image: url('../images/progressFull.Dark.png');
}
